body {
  margin: 0;
  font-size: 1.7rem;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: steelblue;
  color:#fff;
  padding:2rem;
}

html {
  font-size: 62.5%;
}

h1.site-title {
  display: block;
    font-size: 6rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 1.7rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header.App-header {
  display: flex;
  flex-direction: column;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.score-container p{
  margin-block-end: 1rem;
}

.cards-container {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}

.card-item {
  display: flex;
  color: #000;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0;
  padding: 2rem;
  gap: 2rem;
  overflow: hidden;
  background: #fff;
  border: 3px solid #2a952a;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card-item:hover {
  border-color: #88ef88;
}